<!--
    Web App che ha 3 componenti principali, login, signup e la home page.
    
    La homepage ha un h2 del tipo "welcome utente" se si  è loggati
-->
<mat-toolbar color="primary">
  <a color="transparent" style="color: white; text-decoration: none;" routerLink="">
    Home
  </a>
  <span class="spacer"></span>
  <button mat-flat-button color="transparent"  style="margin-right: 5px;" aria-label="login button" routerLink="login"> Log In </button>
  <button mat-flat-button color="transparent" aria-label="signup button" routerLink="signup"> Register</button>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
